<div style="text-align: center; margin: 1rem 0;">
    <!--has_previous= 현재 페이지에서 이전 페이지가 있는지 확인-->
    {% if page_obj.has_previous %}
    <a href="{% url 'accountapp:show' %}?page={{ page_obj.previous_page_number }}"
       class="btn btn-secondary rounded-pill">
        {{ page_obj.previous_page_number }}
    </a>
    {% endif %}
    <!--현재 있는 페이지로 향하는 url-->
    <a href="{% url 'accountapp:show' %}?page={{ page_obj.number }}"
       class="btn btn-secondary rounded-pill active">
        {{ page_obj.number }}
    </a>
    <!--has_previous= 현재 페이지에서 이후 페이지가 있는지 확인-->
    {% if page_obj.has_next %}
    <a href="{% url 'accountapp:show' %}?page={{ page_obj.next_page_number }}"
       class="btn btn-secondary rounded-pill">
        {{ page_obj.next_page_number }}
    </a>
    {% endif %}
</div>