{% extends 'accountapp/base.html' %} {% block content %}


    <div style="height: 35rem; border-radius: 1rem; text-align: center; margin: 5rem;">
        <h1 style="font-family: 'Noto Sans KR', sans-serif;">
            누구나 쉽게 만드는<br>인공지능 기반 브랜딩 대장간
        </h1>

        <form action="/account/result_slogan/" method="POST">
            {% csrf_token %}
            <div class="wrapper">
                <div>
                  <select name="select" id="select">
                    <option value="ko_slogan">한글 슬로건</option>
                    <option value="en_slogan">영어 슬로건</option>
                    <option value="model_slogan">Beta 한글</option>
                  </select>
                </div>
                <div>
                  <input type="text" name="info" />
                </div>
                <div>
                  <input type="range" name="sim" />
                </div>
                <div>
                  <input type="submit" />
                </div>
            </div>
        </form>
    </div>

{% endblock %}