{% extends 'base.html' %}
{% block content %}

<div class="mainbox">
  <div class="mainbox__text">
    누구나 쉽게 만드는<br>인공지능 기반 슬로건 대장간
  </div>
  <div class="mainbox__subtext">
    한 번의 클릭으로 여러분만의 특별한 슬로건을 만들어 보세요.
  </div>
  <form action="/smithy/loading/" method="POST">
    {% csrf_token %}
    <div class="inputbox">
      <select class="Inputbox__selectArea" name="select" id="select">
        <option value="ko_slogan">Korean</option>
        <option value="en_slogan">English</option>
        <option value="model_slogan">Beta Korean</option>
      </select>
      <input type="text" name="info" class="inputbox__inputtext" placeholder="기업설명 혹은 제품설명을 간략히 적어주세요."
        onclick="this.placeholder=''" onblur="this.placeholder='기업설명 혹은 제품설명을 간략히 적어주세요.'" />
      <div class="inputbox__controlbox">
        <div class="range">
          <div class="sliderValue">
            <span class="valueNumber">35</span>
          </div>
          <div class="field">
            <div class="value left">1</div>
            <input class="valueInput" type="range" name='sim' min="1" max="70" step="1" />
            <div class="value right">70</div>
          </div>
        </div>
      </div>
      <input type="submit" class="Inputbox__submitArea" value="" />
    </div>
  </form>
</div>


{% endblock %}