<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOADING</title>
</head>
<body>
    <h1>LOADING PAGE!</h1>
    <hr />
    <img src="https://blog.kakaocdn.net/dn/eq5dfI/btqw57H1Ab6/Nkqk2WWhToEkaRzC3FJHwk/img.gif" alt="loading image"/>
    <script>
        location.href="http://13.209.171.193:8000/account/result_slogan/"
    </script>
</body>
</html>